# top-most EditorConfig file
root = true

[*]
indent_style = tab
indent_size = 2
insert_final_newline = true
end_of_line = lf

# Visual Studio demands 2-spaced project files
# Tabs are not legal whitespace for YAML files
[*.{csproj,json,props,targets,xslt,yaml,yml}]
indent_style = space
indent_size = 2