@{
  ViewData["Title"] = "GT";
}

<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
  <h1 class="display-4">Group 2</h1>

      <p class="text-right">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.    Curabitur lectus augue, vestibulum in ultrices mattis, viverra nec justo.    Nunc tincidunt lacinia mattis. Praesent ut aliquam lacus. Donec nec metus nibh.    Pellentesque vel orci at risus ullamcorper vestibulum.    Praesent volutpat porttitor erat, sit amet malesuada felis dignissim ac.    Nam in ex sagittis, lobortis sem ac, gravida lectus.    Maecenas egestas, augue vel suscipit consequat, sapien neque egestas magna, eget tristique urna nisl a arcu.    Integer sed sapien mauris. Etiam ac sem a erat cursus imperdiet. Maecenas eros odio, facilisis at justo at, mollis fringilla leo.    Sed sit amet mauris tincidunt, scelerisque urna ac, sagittis dolor.
      </p>

      <p class="text-right">
        Suspendisse et metus id metus aliquam aliquam vitae eget enim.
        Etiam condimentum neque vitae massa porta, sed semper velit feugiat.
        Suspendisse venenatis et nulla at pulvinar. Ut et placerat ipsum, sed pulvinar lorem.
        Donec porttitor quis odio quis pretium. Donec nunc nibh, maximus bibendum enim sit amet, pulvinar dictum velit.
        Sed sed rutrum diam. Suspendisse gravida enim in tellus eleifend aliquet.
        Curabitur in lectus eget velit ultricies vehicula. Phasellus in leo vitae libero sodales pellentesque nec et ante.
        In hac habitasse platea dictumst. Nullam nec est est.
        Phasellus ac metus lacinia, ultrices lacus eu, blandit mi. Quisque.
      </p>
    </div>

  </div>
</div>