@page
@model RegisterConfirmationModel
@{
	ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
	Please check your email to confirm your account.
</p>
<p>
	If you can't find the email, please check your spam folder.
</p>
