@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model List<GT.Core.DTO.Impl.ListingInquiryDTO>
@{
	ViewData["Title"] = "Ansökningar";

}
@using (Html.BeginForm("GetInquiries", "Inquiries", FormMethod.Get))
{
	<div>
		<h2>Applications for @ViewData["JobTitle"]</h2>
		<div>
			@foreach (var item in Model)
			{
				<div class="card-body">
					<h5>@Html.ActionLink(item.MessageTitle, "GetInquiry", new { id=item.Id }, new { @class="card-title stretched-link" })</h5>
					<p class="card-text">@item.LinkedInLink</p>
					@Html.ActionLink("Delete", "DeleteInquiry", new { id=item.Id }, new { @class="btn btn-warning"})
				</div>
			}
		</div>
	</div>
}
