@model GT.Core.DTO.Impl.ListingInquiryDTO
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
	Apply for this job
</button>

<!-- Modal -->
@using (Html.BeginForm("CreateInquiry", "Inquiry", FormMethod.Post))
{
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form asp-action="Create">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="form-group">
							<label asp-for="MessageTitle" class="control-label">Title</label>
							<input asp-for="MessageTitle" class="form-control" />
							<span asp-validation-for="MessageTitle" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="MessageBody" class="control-label">Message</label>
							<input asp-for="MessageBody" class="form-control" />
							<span asp-validation-for="MessageBody" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="LinkedInLink" class="control-label">LinkedIn URL</label>
							<input asp-for="LinkedInLink" class="form-control" />
							<span asp-validation-for="LinkedInLink" class="text-danger"></span>
						</div>
						@if (SignInManager.IsSignedIn(User))
						{
							var email = User.Identity.Name;
							Model.ApplicantId = UserManager.GetUserAsync(User).Result.Id;
							<p class="fst-italic">You are logged in as @email</p>
						}
						else
						{
							<p>You are not logged in.</p>
						}

						<div class="form-group">
							<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
							<input type="submit" value="Submit" class="btn btn-primary" />
						</div>
				</div>
					</form>
				</div>
			</div>
		</div>
	</div>
}
